<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- include('Head', { pageType: 'Home' }) %>
</head>
<body>
    <%- include('header') %>
    <div class="container">
        <% home.forEach(item => { %>
            <div class="card-wrapper">
                <div class="card" onclick="window.location.href='./<%= item.MusicDir %>';">
                    <img src="images/<%= item.MusicImg %>" alt="<%= item.MusicTitle %>">
                </div>
                <div class="card-info">
                    <h2><%= item.MusicTitle %></h2>
                    <p></p>
                </div>
            </div>
        <% }); %>
    </div>
    <%- include('footer') %>
    <%- include('search') %>
</body>
</html>